<footer>
    <div class="row">
      <hr />
      <div class="watermark d-flex align-items-center p-3 justify-content-between">
        <div class=""><p>© 2023 All Rights Reserved. Stackup</p></div>
        <div class="d-flex gap-3">
          <p>Terms of Use</p>
          <p>Privacy Policy</p>
        </div>
      </div>
    </div>
  </footer>