<div class="delPopup" id="restore-popup">
    <div class="card rounded-4 p-4">
      <div class="row">
        <div class="col-lg d-flex justify-content-between align-items-center mb-2">
          <h3 class="m-0">Delete Employee</h3>
          <button type="button" onclick="restoreFormClose()" class="btn btn-lg"><i class="fa-solid fa-x"></i></button>
        </div>
      </div>
      <div class="row">
        <p>Do you sure you want to Restore this employee?</p>
      </div>
      <div class="row">
        <div class="col-lg d-flex gap-3 justify-content-end">
          <button type="button" onclick="restoreFormClose()" class="btn btn-lg">Cancel</button>

          <button type="button" id="restore" class="btn btn-success rounded-3">Restore</button>
        </div>
      </div>
    </div>
  </div>