<header>
    <div class="row align-items-center justify-content-between">
      <div class="col-4">
        <div class="content-heading p-4">
          <h3 class="m-0">Dashboard / Employees</h3>
          <h2 class="m-0">Employees</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="content-heading-input d-flex py-2 px-3 rounded-5 gap-3 align-items-center position-relative">
          <span class="position-absolute searchicon"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" onkeyup="" class="form-control rounded-5" placeholder="Search" id="dataSearch" style="padding-left:35px;"/>
          <span><i class="fa-regular fa-bell"></i></span>
          <div class="profile-img">
            <img src="img/Elipse 5.png" alt="" class="rounded-5" />
          </div>
        </div>
      </div>

      <hr />
    </div>
  </header>