<div class="col-2 side-bar p-0 d-flex justify-content-between flex-column">
    <header>
      <div class="side-bar-heading p-4">
        <h3 class="m-0">Employee</h3>
        <h4 class="m-0">Management</h4>
      </div>
    </header>
    <section class="flex-grow-1">
      <nav class="flex-grow-1">
        <ul class="sidebar-nav p-0 mt-3">
          <li>
            <a href="#"
              ><span><i class="fa-solid fa-house"></i></span>Dashboard</a
            >
          </li>
          <li>
            <a href="#"
              ><span><i class="fa-solid fa-chart-simple"></i></span>Employees</a
            >
          </li>
          <li>
            <a href="#"
              ><span><i class="fa-solid fa-user"></i></span>My Profile</a
            >
          </li>
          <li>
            <a href="#" id="Logout"
              ><span><i class="fa-solid fa-lock"></i></span>Logout</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <footer>
      <div class="brand d-flex align-items-center gap-3 p-3 justify-content-center">
        <h5 class="m-0">Powered By</h5>
        <img src="img/stckuplogo.png" alt="" />
      </div>
    </footer>
  </div>