<div class="title-heading d-flex align-items-center gap-3">
    <h4 class="m-0">Employees List</h4>
    <select class="form-select rounded-3" id="count" aria-label="Default select example">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option selected value="5">5</option>

      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>



    </select>
    <span>of 10</span>
  </div>